* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding:128px 16px;
    background-color: lightblue;
    text-align: center;
}
.header h1 {
    font-size: 64px;
}

.content h2 {
    font-size: 48px;
}
.content p {
    font-size: 24px;
}

#proposal {
    background-color: lightgray;
}

